<div class="jumbotron">
	<h1>RoR Store</h1>
	<p>My test store made in Ruby on Rails</p>
	<%= link_to "Books", books_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
</div>

<div class="row">

    <%= render @books %>

</div>